In [2]:
import pandas as pd

In [1]:


# Load data
price_df = pd.read_csv("../../1process_data/processed_price.csv", header=0)
pv_df = pd.read_csv("../../1process_data/2010-2013 PV_processed.csv", header=0)
emissions_df = pd.read_csv("../../3final_data/Emission_Intensity_dataset.csv", header=0)
totalload_df = pd.read_csv("../../1process_data/2010-2013 Totalload_processed.csv", header=0)
grossload_df = pd.read_csv("../../1process_data/2010-2013 Grossload_processed.csv", header=0)


#Rename
pv_df.columns = [col.replace('User', 'pv_') for col in pv_df.columns]
totalload_df.columns = [col.replace('User', 'load_') for col in totalload_df.columns]
grossload_df.columns = [col.replace('User', 'load_') for col in grossload_df.columns]


#Concat to final df
final_df = pd.DataFrame()
final_df["price"] = price_df["Price"]
final_df["emissions"] = emissions_df["emissions"]
final_df = pd.concat([final_df, totalload_df, pv_df], axis=1)

final_df.to_csv("../Final_Energy_dataset.csv", sep=',', index=False, encoding='utf-8')

In [6]:
df = pd.read_csv("../Final_Energy_dataset.csv", header=0)
df

,price,emissions,Date,load_1,load_2,load_3,load_4,load_5,load_6,load_7,...,pv_291,pv_292,pv_293,pv_294,pv_295,pv_296,pv_297,pv_298,pv_299,pv_300
0,0.21846,1.066200,2010-07-01 00:30:00,1.553,0.085,2.698,0.075,1.917,0.044,1.831,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.21836,1.064706,2010-07-01 01:00:00,1.715,0.142,2.684,0.086,1.924,0.041,1.853,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.22172,1.061807,2010-07-01 01:30:00,1.339,0.082,1.675,2.058,1.474,0.047,1.859,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.22099,1.064542,2010-07-01 02:00:00,0.865,0.119,0.683,2.034,0.092,0.046,1.715,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.21798,1.062929,2010-07-01 02:30:00,0.380,0.105,0.694,1.628,1.020,0.047,0.148,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52603,0.23978,1.071594,2013-06-30 22:00:00,0.274,0.303,0.056,0.134,0.390,1.063,0.084,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52604,0.24490,1.078417,2013-06-30 22:30:00,0.509,0.182,0.056,0.137,0.413,1.613,0.123,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52605,0.24237,1.064344,2013-06-30 23:00:00,0.166,0.158,0.065,0.140,1.068,1.044,0.075,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52606,0.24279,1.065842,2013-06-30 23:30:00,0.861,0.131,0.063,0.112,1.084,0.979,0.087,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52607,0.24215,1.066102,2013-07-01 00:00:00,1.687,0.121,0.052,0.107,2.849,0.910,1.904,...,0.0,0.0,0.006,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
for i in range(0,10):
    print(f"Gebäude {i+1}: ", df[f"pv_{i+1}"].sum())

Gebäude 1:  14708.533999999998
Gebäude 2:  5995.504999999999
Gebäude 3:  4419.744000000001
Gebäude 4:  3802.059
Gebäude 5:  3658.7419999999997
Gebäude 6:  6411.401
Gebäude 7:  9402.68
Gebäude 8:  3432.909
Gebäude 9:  4328.630000000001
Gebäude 10:  3607.228

In [12]:
for i in range(10,20):
    print(f"Gebäude {i+1}: ", df[f"pv_{i+1}"].sum())

Gebäude 11:  6804.947999999999
Gebäude 12:  3958.1850000000004
Gebäude 13:  8623.376
Gebäude 14:  5876.4400000000005
Gebäude 15:  3322.47
Gebäude 16:  9458.215
Gebäude 17:  5849.977
Gebäude 18:  6079.486999999999
Gebäude 19:  4575.545
Gebäude 20:  6632.375000000001

In [13]:
for i in range(20,30):
    print(f"Gebäude {i+1}: ", df[f"pv_{i+1}"].sum())

Gebäude 21:  4224.719
Gebäude 22:  3803.405
Gebäude 23:  6433.232
Gebäude 24:  20710.063
Gebäude 25:  3972.842
Gebäude 26:  4017.306
Gebäude 27:  4294.157
Gebäude 28:  3677.218
Gebäude 29:  6027.26
Gebäude 30:  4289.452