# Merge Weather Dataset and Household datasets (PV, Grossload, TotalLoad)

In [1]:
# Required libraries
import pandas as pd

In [14]:
# Read the weather data.
weather = pd.read_csv('../2010-2013 Weather_preprocessed.csv', )

try:
    weather.drop(columns=["Unnamed: 0"], inplace=True)
except:
    print("No Unnamed column")

display(weather.head(2))
display(weather.tail(2))

                  time  temp  dwpt  rhum   wdir  wspd    pres
0  2010-07-01 00:00:00   0.7  -0.6  91.0  160.0   5.4  1022.0
1  2010-07-01 01:00:00   0.7  -0.6  91.0  160.0   5.4  1022.0

                      time  temp  dwpt  rhum  wdir  wspd    pres
26302  2013-06-30 22:00:00   8.8   8.7  99.0  30.0   1.8  1025.4
26303  2013-06-30 23:00:00   8.8   8.7  99.0  30.0   1.8  1025.4

In [13]:
def merge_dataframes(df, weather):
    # Merge the weather and load dataframes
    merged_df = pd.merge(df, weather, left_on='Date', right_on='time')

    # Remove the redundant "time" column
    merged_df.drop('time', axis=1, inplace=True)
    return merged_df

# Merged_Weather_PV_data

In [20]:
pv_df = pd.read_csv('../2010-2013 PV_preprocessed.csv', )

In [18]:
# Check the shape
print('Weather data shape: ',weather.shape)
print('Load data shape: ',pv_df.shape)

merged_weather_pv_df = merge_dataframes(pv_df, weather)

display(merged_weather_pv_df.shape)
display(merged_weather_pv_df.head(2))
display(merged_weather_pv_df.tail(2))

(26304, 307)

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User297,User298,User299,User300,temp,dwpt,rhum,wdir,wspd,pres
0,2010-07-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.7,-0.6,91.0,160.0,5.4,1022.0
1,2010-07-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.7,-0.6,91.0,160.0,5.4,1022.0

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User297,User298,User299,User300,temp,dwpt,rhum,wdir,wspd,pres
26302,2013-06-30 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.8,8.7,99.0,30.0,1.8,1025.4
26303,2013-06-30 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.8,8.7,99.0,30.0,1.8,1025.4

In [19]:
# Save final dataset
merged_weather_pv_df.to_csv('../2010-2013 Merged_Weather_PV_dataset.csv', index=False)

# Merged_Weather_Grossload_data

In [21]:
grossload_df = pd.read_csv('../2010-2013 Load_preprocessed.csv', )

In [22]:
# Check the shape
print('Weather data shape: ',weather.shape)
print('Load data shape: ',grossload_df.shape)

merged_weather_grossload_df = merge_dataframes(grossload_df, weather)

display(merged_weather_grossload_df.shape)
display(merged_weather_grossload_df.head(2))
display(merged_weather_grossload_df.tail(2))

Weather data shape:  (26304, 7)
Load data shape:  (26304, 301)

(26304, 307)

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User297,User298,User299,User300,temp,dwpt,rhum,wdir,wspd,pres
0,2010-07-01 00:00:00,0.125,0.179,0.065,0.078,0.0,0.036,0.065,0.146,0.025,...,0.120,0.129,0.141,0.097,0.7,-0.6,91.0,160.0,5.4,1022.0
1,2010-07-01 01:00:00,0.471,0.142,0.671,0.086,0.0,0.041,0.100,0.088,0.019,...,0.106,0.110,1.413,0.924,0.7,-0.6,91.0,160.0,5.4,1022.0

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User297,User298,User299,User300,temp,dwpt,rhum,wdir,wspd,pres
26302,2013-06-30 22:00:00,0.274,0.303,0.056,0.134,0.390,1.063,0.084,0.203,0.072,...,0.167,0.267,0.618,0.581,8.8,8.7,99.0,30.0,1.8,1025.4
26303,2013-06-30 23:00:00,0.166,0.158,0.065,0.140,1.068,1.044,0.075,0.114,0.074,...,0.181,0.247,0.832,0.472,8.8,8.7,99.0,30.0,1.8,1025.4

In [23]:
# Save final dataset
merged_weather_grossload_df.to_csv('../2010-2013 Merged_Weather_Grossload_dataset.csv', index=False)

# Merged_Weather_TotalLoad_data

In [24]:
totalload_df = pd.read_csv('../2010-2013 All_load_preprocessed.csv', )

In [25]:
# Check the shape
print('Weather data shape: ',weather.shape)
print('Load data shape: ',totalload_df.shape)

merged_weather_totalload_df = merge_dataframes(totalload_df, weather)

display(merged_weather_totalload_df.shape)
display(merged_weather_totalload_df.head(2))
display(merged_weather_totalload_df.tail(2))

Weather data shape:  (26304, 7)
Load data shape:  (26304, 301)

(26304, 307)

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User297,User298,User299,User300,temp,dwpt,rhum,wdir,wspd,pres
0,2010-07-01 00:00:00,1.200,0.179,0.065,0.078,1.859,0.036,1.794,0.146,0.113,...,0.279,0.129,0.141,2.511,0.7,-0.6,91.0,160.0,5.4,1022.0
1,2010-07-01 01:00:00,1.715,0.142,2.684,0.086,1.924,0.041,1.853,0.088,0.019,...,0.106,0.110,1.413,3.316,0.7,-0.6,91.0,160.0,5.4,1022.0

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User297,User298,User299,User300,temp,dwpt,rhum,wdir,wspd,pres
26302,2013-06-30 22:00:00,0.274,0.303,0.056,0.134,0.390,1.063,0.084,0.203,0.072,...,0.167,0.267,0.618,0.581,8.8,8.7,99.0,30.0,1.8,1025.4
26303,2013-06-30 23:00:00,0.166,0.158,0.065,0.140,1.068,1.044,0.075,0.827,0.074,...,2.594,0.247,0.832,0.472,8.8,8.7,99.0,30.0,1.8,1025.4

In [26]:
# Save final dataset
merged_weather_totalload_df.to_csv('../2010-2013 Merged_Weather_Totalload_dataset.csv', index=False)

# Merged_Weather_Prosumption_data

In [27]:
prosumption_df = pd.read_csv('../2010-2013 Prosumption_preprocessed.csv', )

In [28]:
# Check the shape
print('Weather data shape: ',weather.shape)
print('Load data shape: ',prosumption_df.shape)

merged_weather_prosumption_df = merge_dataframes(prosumption_df, weather)

display(merged_weather_prosumption_df.shape)
display(merged_weather_prosumption_df.head(2))
display(merged_weather_prosumption_df.tail(2))

Weather data shape:  (26304, 7)
Load data shape:  (26304, 301)

(26304, 307)

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User297,User298,User299,User300,temp,dwpt,rhum,wdir,wspd,pres
0,2010-07-01 00:00:00,1.200,0.179,0.065,0.078,1.859,0.036,1.794,0.146,0.113,...,0.279,0.129,0.141,2.511,0.7,-0.6,91.0,160.0,5.4,1022.0
1,2010-07-01 01:00:00,1.715,0.142,2.684,0.086,1.924,0.041,1.853,0.088,0.019,...,0.106,0.110,1.413,3.316,0.7,-0.6,91.0,160.0,5.4,1022.0

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User297,User298,User299,User300,temp,dwpt,rhum,wdir,wspd,pres
26302,2013-06-30 22:00:00,0.274,0.303,0.056,0.134,0.390,1.063,0.084,0.203,0.072,...,0.167,0.267,0.618,0.581,8.8,8.7,99.0,30.0,1.8,1025.4
26303,2013-06-30 23:00:00,0.166,0.158,0.065,0.140,1.068,1.044,0.075,0.827,0.074,...,2.594,0.247,0.832,0.472,8.8,8.7,99.0,30.0,1.8,1025.4

In [29]:
# Save final dataset
merged_weather_prosumption_df.to_csv('../2010-2013 Merged_Weather_Prosumption_dataset.csv', index=False)